@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #5302a0, #860192, #029fd8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    font-family: 'Permanent Marker';
    font-size: 90px;
    text-align: center;
    margin-top: 16px;
    white-space: nowrap;
    color: #f890e7;
    text-shadow: 10px 5px 1px #0bd3d3;
}

.outer-setup-container {
    position: absolute;
    padding: 7px 40px 40px 40px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1000px;
    align-content: center;
    border-radius: 20px;
    text-align: center;
    background-image: url(/pictures/signup-background.png);
}

.outer-setup-container.active {
    transform: scale(0);
}

.setup-title {
    font-family: 'Bungee Outline';
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 40px;
    position: relative;
    color: #0bd3d3;
    animation: peep 3s ease-in infinite;
}

@keyframes peep {

	0% {
        text-shadow: 1px 0px 6px #ffffff;
	}
    50% {
        opacity: .53;
        text-shadow: 1px 0px 6px #d81eb9;
    }
    100% {
        text-shadow: 1px 0px 6px #ffffff;
	}
} 

.vs {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    top: 47%;
    left: 47.6%;
    font-size: 38px;
    font-family: 'Permanent Marker';
    color: white;
    text-shadow: 1px 5px 10px black;
}

.setup-container {
    position: relative;
    display: grid;
    grid-template-columns: 50% 1fr;
    border: 1px solid black;
    margin: 0 auto;
    width: 99%;
    height: 88%;
    border-radius: 20px;
    font-family: sans-serif;
    margin-top: 14px;
    background: linear-gradient(180deg, #5302a0, #860192, #029fd8);
    opacity: .99;
}

.player-one {
    border-right: 2px solid black;
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Bungee Outline';
    color: white;
    font-weight: bolder;
}

.player-two {
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Bungee Outline';
    color: white;
    font-weight: bolder;
}

#playerUi.active {
    transform: scale(0);
}

.player-one-inner {
    height: 55%;
    width: 72%;
    margin: 0 auto;
    margin-top: 25px;
    background: rgb(9, 9, 9);
    border: 1px ridge white;
    border-radius: 8px;
}

.player-two-inner {
    height: 55%;
    width: 72%;
    margin: 0 auto;
    margin-top: 25px; 
    background: rgb(9, 9, 9); 
    border: 1px ridge white;
    border-radius: 8px;
}

.silhouette-one {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    background: url(/pictures/player-sillhouete.png), no-repeat, rgb(9, 9, 9); 
    background-size: contain;
}

.silhouette-two {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    background: url(/pictures/player-sillhouete.png), no-repeat, rgb(9, 9, 9);
    background-size: contain; 
}

.play-now {
    position: absolute;
    font-family: 'Bungee Outline';
    font-size: 50px;
    top: 82%;
    left: 41.5%;
    width: 170px;
    box-shadow: 0px 8px 10px black;
    background: rgb(3, 25, 47);
    color: #f890e7;
    border: 1px solid rgb(24, 149, 187);
    text-shadow: 1px 0px 6px #ffffff;
    cursor: pointer;
    z-index: 2;
}

.play-now:hover {
    color: gold;
    border: 1px solid gold;
    box-shadow: 1px 1px 10px white;
}

.play-now:active {
    opacity: .93;
    color: #f890e7;
    box-shadow: 0px 4px 9px black;
}

.player-one-button-container {
    position: absolute;
    top: 76%;
    left: 17.5%;
    cursor: default;
}

.x-button-one {
    margin: 5px;
    padding: 0px 12px;
    border: 3px solid rgb(0, 81, 187);
    font-size: 36px;
    background: black;
    color: red;
    cursor: pointer;
    border-radius: 7px;
    opacity: .84;
}

.o-button-one {
    margin: 5px;
    margin: 5px;
    padding: 0px 12px;
    border: 3px solid rgb(0, 81, 187);
    font-size: 36px;
    background: black;
    color: red;
    cursor: pointer;
    border-radius: 7px;
    opacity: .84;
}

.x-button-one:focus {
    opacity: 1;
    border: 3px solid rgb(0, 81, 187);
    box-shadow: 0px 0px 3px 2px rgb(0, 81, 187);
}

.o-button-one:focus {
    opacity: 1;
    border: 3px solid rgb(0, 81, 187);
    box-shadow: 0px 0px 3px 2px rgb(0, 81, 187);
}

.player-two-button-container {
    position: absolute;
    left: 78.5%;
    top: 85.3%;
}

.computer-button {
    font-family: monospace;
    font-size: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background: black;
    border: 3px solid rgb(0, 81, 187);
    opacity: .92;
    color: red;
    font-weight: 600;
    border-radius: 5px;
}

.computer-button:active {
    opacity: 1;
    border: 3px solid rgb(0, 81, 187);
    box-shadow: 0px 0px 3px 2px rgb(0, 81, 187);
}

.computer-selection {
    position: absolute;
    top: 15.5%;
    width: 45.6%;
    height: 81.2%;
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Bungee Outline';
    color: white;
    font-weight: bolder;
    transform: scale(0);
}

#computerUi.active {
    transform: scale(1);
}

.computer-selection-inner {
    height: 54.6%;
    width: 71.9%;
    margin: 0 auto;
    margin-top: 26px;
    margin-left: 63px;
    background: rgb(9, 9, 9);
    border: 1px ridge white;
    border-radius: 8px;
}

.silhouette-computer {
    margin: 0 auto;
    height: 100%;
    width: 75%;
    background: url(/pictures/computer.png), no-repeat, rgb(9, 9, 9); 
    background-size: contain;
}

.computer-button-container {
    position: absolute;
    left: 49%;
    top: 85%;
}

.player-button {
    font-family: monospace;
    font-size: 30px;
    padding: 5px 10px;
    cursor: pointer;
    background: black;
    border: 3px solid rgb(0, 81, 187);
    opacity: .92;
    color: red;
    font-weight: 600;
    border-radius: 5px;
}

.player-button:active {
    opacity: 1;
    border: 3px solid rgb(0, 81, 187);
    box-shadow: 0px 0px 3px 2px rgb(0, 81, 187);
}

.computer-difficulty-container {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    width: 20px;
    left: 25%;
    top: 75%;
}

.easy-button {
    margin: 4px;
    color: white;
    background: black;
    font-size: 16px;
    padding: 2px 6px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: 'Permanent Marker';
    box-shadow: 0px 0px 0px 1px rgb(95, 95, 95);
}

.easy-button:hover {
    color: rgb(153, 255, 0);
    box-shadow: 0px 0px 3px 2px rgb(153, 255, 0);
}

.medium-button {
    margin: 4px;
    color: white;
    background: black;
    font-size: 16px;
    padding: 2px 6px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: 'Permanent Marker';
    box-shadow: 0px 0px 0px 1px rgb(95, 95, 95);
}

.medium-button:hover {
    color: rgb(236, 236, 2);
    box-shadow: 0px 0px 3px 2px rgb(236, 236, 2);
}

.hard-button {
    margin: 4px;
    color: white;
    background: black;
    font-size: 16px;
    padding: 2px 6px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: 'Permanent Marker';
    box-shadow: 0px 0px 0px 1px rgb(95, 95, 95);
}

.hard-button:hover {
    color: rgb(255, 27, 27);
    box-shadow: 0px 0px 3px 2px rgb(255, 27, 27);
}

.return-button {
    position: absolute;
    top: 0%;
    font-size: 30px;
    border: 3px solid rgb(65, 64, 64);
    background: black;
    color: white;
    padding: 1px 10px 1px 2px;
    cursor: pointer;
    font-family: 'Permanent Marker';
}

.return-button:hover {
    color: rgb(194, 194, 194);
}

.game-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1750px;
    height: 720px;
    display: none;
}

.game-container.active {
    display: initial;
}

.game-board-container {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 370px;
    width: 370px;
    font-size: 50px;
}

.cell {
    font-size: 77px;
    font-family: 'Permanent Marker';
    text-align: center;
    background: linear-gradient(to right, #01c0c0 0%, #f673e0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 4px 4px black;
    cursor: pointer;
}

.player-one-game {
    position: absolute;
    height: 500px;
    width: 300px;
    left: 10%;
    top: 20%;
    font-family: 'Bungee Outline';
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-weight: bolder;
}

.player-one-game-silhouette {
    margin: 0 auto;
    height: 50%;
    width: 90%;
    margin-top: 10px;
    background: url(/pictures/player-sillhouete.png), no-repeat, rgb(9, 9, 9); 
    background-size: contain;
    border: 4px solid white;
}

.player-one-score {
    font-family: 'Permanent Marker';
    padding-top: 10px;
    padding-bottom: 10px;
}

.player-one-score-number {
    font-size: 50px;
}
